<div class="pageLog">
    <h1 class="h1Log">Iniciar sesion</h1>
    <form>
        <label for="email" class="labelLog">Correo electrónico</label>
        <input [(ngModel)]="emailInput" type="email" name="email" class="form-control inputLog" placeholder="Introduzca su correo">
        <p *ngIf="respuesta == -2" class="infoErrorLog">El campo correo está vacío</p>
        <label for="password" class="labelLog">Contraseña</label>
        <input [(ngModel)]="passwordInput" type="password" name="password" class="form-control inputLog" placeholder="Introduzca su contraseña">
        <p *ngIf="respuesta == -3" class="infoErrorLog">El campo contraseña está vacío</p>
        <div class="text-center mb-3 mt-4">
            <input *ngIf="respuesta != -1" (click)="login(emailInput, passwordInput)" class="botonEnviar" type="submit" value="Enviar">
        </div>
    </form>
    <div class="d-flex justify-content-center">
        <cargando *ngIf="respuesta == -1" class="mb-2"/>
    </div>
    <div class="errorDiv" *ngIf="respuesta == 401">
        <img src="assets/imagenes/iconos/error.png">
        <p class="textoError">Usuario o contraseña incorrectos.<br/>Por favor, inténtelo de nuevo<br/><br/></p>
    </div>
    <div class="text-center">
        <a routerLink="/recuperar" class="aLog">¿Ha olvidado su contraseña?</a>
        <p class="registrarse">¿No tiene cuenta? <a routerLink="/registro" class="aLog">Regístrese ahora</a></p>
    </div>
</div>
