<div class="pageLog">
    <h1 class="h1Log">Iniciar sesion</h1>
    <form>
        <label for="email" class="labelLog">Correo electrónico</label>
        <input type="email" name="email" class="form-control inputLog" placeholder="Introduzca su correo">
        <label for="password" class="labelLog">Contraseña</label>
        <input type="password" name="password" class="form-control inputLog" placeholder="Introduzca su contraseña">
        <div class="text-center mb-3 mt-4">
            <input class="botonEnviar" type="submit" value="Enviar">
        </div>
    </form>
    <div class="text-center">
        <a routerLink="/recuperar" class="aLog">¿Ha olvidado su contraseña?</a>
    </div>
    <p class="registrarse">¿No tiene cuenta? <a routerLink="/registro" class="aLog">Regístrese ahora</a></p>
</div>
