.login {
    margin: 0px min(30%,100px);
    color: var(--colorPrincipal);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    color: var(--colorSecundario);
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 50px;
}

.registrarse {
    margin: 20px 0px;
    text-align: center;
}

.enviar {
    padding: 5px 20px;
    background-color: var(--colorPrincipalClaro);
}