<div class="pagina">
    <div class="d-flex align-items-center">
        <a href="/biblioteca">
            <img class="flechaVolver" src="assets/imagenes/iconos/flechaIzquierda.png">
        </a>
        <h1>Acciones de administrador</h1>
    </div>
    <h2 class="mt-3">Eliminar usuario</h2>
    <label for="email">Id del usuario a eliminar:</label>
    <div class="d-flex align-items-center">
        <input [(ngModel)]="usuarioBorrarInput" class="form-control inputLog" placeholder="Id del usuario">
        <button *ngIf="idValido(usuarioBorrarInput) == true && usuario != undefined" (click)="recibirUsuario(usuarioBorrarInput)" class="botonEnviar">Eliminar</button>
        <cargando *ngIf="usuario == undefined"/>
    </div>
    <p *ngIf="idValido(usuarioBorrarInput) == false && usuarioBorrarInput != ''" class="text-danger">El id tiene que ser un número!</p>
    <h2>Modificar receta generada</h2>
    <label for="email">Id de la receta a modificar:</label>
    <div class="d-flex align-items-center">
        <input [(ngModel)]="recetaModificarInput" class="form-control inputLog" placeholder="Id de la receta">
        <button *ngIf="idValido(recetaModificarInput) == true && receta != undefined" (click)="recibirReceta(recetaModificarInput)" class="botonEnviar">Buscar</button>
        <cargando *ngIf="receta == undefined"/>
    </div>
    <p *ngIf="idValido(recetaModificarInput) == false && recetaModificarInput != ''" class="text-danger">El id tiene que ser un número!</p>
    <div *ngIf="receta && enviandoReceta == false">
        <div *ngIf="receta!.titulo != undefined">
            <p class="mt-3">Video de la receta: <a href="{{receta!.url}}" target="blank">{{receta!.url}}</a></p>
            <div class="filaRellenar">
                <label>Título:</label>
                <textarea [(ngModel)]="receta!.titulo" name="titulo" rows="1" cols="1000"></textarea>
            </div>
            <div class="filaRellenar">
                <label>Texto:</label>
                <textarea [(ngModel)]="receta!.texto" name="texto" rows="8" cols="1000"></textarea>
            </div>
            <div class="filaRellenar align-items-center">
                <label>Categoría:</label>
                <div *ngIf="receta.categoria == 'Carne'" class="d-flex">
                    <button class="botonCategoriaSi">Carne</button>
                    <button (click)="cambiarCategoria('Pescado')" class="botonCategoriaNo">Pescado</button>
                    <button (click)="cambiarCategoria('Verdura')" class="botonCategoriaNo">Verdura</button>
                    <button (click)="cambiarCategoria('Pasta')" class="botonCategoriaNo">Pasta</button>
                    <button (click)="cambiarCategoria('Aperitivos')" class="botonCategoriaNo">Aperitivo</button>
                </div>
                <div *ngIf="receta.categoria == 'Pescado'" class="d-flex">
                    <button (click)="cambiarCategoria('Carne')" class="botonCategoriaNo">Carne</button>
                    <button class="botonCategoriaSi">Pescado</button>
                    <button (click)="cambiarCategoria('Verdura')" class="botonCategoriaNo">Verdura</button>
                    <button (click)="cambiarCategoria('Pasta')" class="botonCategoriaNo">Pasta</button>
                    <button (click)="cambiarCategoria('Aperitivos')" class="botonCategoriaNo">Aperitivo</button>
                </div>
                <div *ngIf="receta.categoria == 'Verdura'" class="d-flex">
                    <button (click)="cambiarCategoria('Carne')" class="botonCategoriaNo">Carne</button>
                    <button (click)="cambiarCategoria('Pescado')" class="botonCategoriaNo">Pescado</button>
                    <button class="botonCategoriaSi">Verdura</button>
                    <button (click)="cambiarCategoria('Pasta')" class="botonCategoriaNo">Pasta</button>
                    <button (click)="cambiarCategoria('Aperitivos')" class="botonCategoriaNo">Aperitivo</button>
                </div>
                <div *ngIf="receta.categoria == 'Pasta'" class="d-flex">
                    <button (click)="cambiarCategoria('Carne')" class="botonCategoriaNo">Carne</button>
                    <button (click)="cambiarCategoria('Pescado')" class="botonCategoriaNo">Pescado</button>
                    <button (click)="cambiarCategoria('Verdura')" class="botonCategoriaNo">Verdura</button>
                    <button class="botonCategoriaSi">Pasta</button>
                    <button (click)="cambiarCategoria('Aperitivos')" class="botonCategoriaNo">Aperitivo</button>
                </div>
                <div *ngIf="receta.categoria == 'Aperitivos'" class="d-flex">
                    <button (click)="cambiarCategoria('Carne')" class="botonCategoriaNo">Carne</button>
                    <button (click)="cambiarCategoria('Pescado')" class="botonCategoriaNo">Pescado</button>
                    <button (click)="cambiarCategoria('Verdura')" class="botonCategoriaNo">Verdura</button>
                    <button (click)="cambiarCategoria('Pasta')" class="botonCategoriaNo">Pasta</button>
                    <button class="botonCategoriaSi">Aperitivo</button>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button *ngIf="mostrarBotonActualizarReceta() == true" (click)="modificarReceta()" class="botonEnviar">Actualizar</button>
                <p *ngIf="mostrarBotonActualizarReceta() == false">Modifique algún parámetro para actualizar la receta</p>
            </div>
        </div>
    </div>
    <div *ngIf=" enviandoReceta == true" class="d-flex justify-content-center p-5">
        <cargando/>
    </div>

    <div class="carousel-container">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let color of colors" [ngClass]="{ 'selected': selectedColor === color }">
                    <div class="color-rectangle" [ngStyle]="{ 'background-color': color }" (click)="selectColor(color)"></div>
                </div>
            </div>
        </div>
    </div>

    <h2>Estadísticas de la web</h2>
    <div class="contenedorGraficas">
        <div class="d-flex flex-row justify-content-around mb-5">
            <div class="d-flex flex-column justify-content-center infoGraficaIzquierda">
                <h3>Recetas por categoría</h3>
                <p>Recuento de las recetas de la base de datos, en función de la categoría a la que pertenecen. Número total de recetas: {{numRecetas}}</p>
            </div>
            <canvas id="chartCategorias" class="myPieChart">{{chartCategorias}}</canvas>
        </div>
        <div class="d-flex flex-row justify-content-around mb-5">
            <canvas id="chartNutriscore" class="myLinechart">{{chartNutriscore}}</canvas>
            <div class="d-flex flex-column justify-content-center infoGraficaDerecha">
                <h3>Recetas por nutriscore</h3>
                <p>Nutriscore de las recetas según sus ingredientes, siendo 5 la puntuación máxima, y 0 la puntuación mínima</p>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around mb-5">
            <div class="d-flex flex-column justify-content-center infoGraficaIzquierda">
                <h3>Cantidad de usuarios</h3>
                <p>Cantidad de usuarios dados de alta en nuestro sitio web. Contempla también las dadas de baja</p>
            </div>
            <canvas id="chartUsuarios" class="myLinechart">{{chartUsuarios}}</canvas>
        </div>
        <div class="d-flex flex-row justify-content-around mb-5">
            <canvas id="chartComentarios" class="myLinechart">{{chartComentarios}}</canvas>
            <div class="d-flex flex-column justify-content-center infoGraficaDerecha">
                <h3>Cantidad de comentarios</h3>
                <p>Comentarios escritos por nuestros usuarios en cualquier receta, según la fecha en que fueron escritos</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="alerta == true" class="divAlerta">
    <div (click)="cerrarAlerta()"></div>
    <section *ngIf="esperandoEliminar == false">
        <img (click)="cerrarAlerta()" src="assets/imagenes/iconos/cancelar.png">
        <p><b>¡Atención!</b> Compruebe los datos del usuario que va a eliminar</p>
        <p>Nombre: {{usuario!.nombre}}</p>
        <p>Apellidos: {{usuario!.apellidos}}</p>
        <p>Correo: {{usuario!.email}}</p>
        <div class="d-flex justify-content-center mt-5">
            <button (click)="eliminarUsuario()" class="botonEnviar">Confirmar</button>
        </div>
    </section>
    <section *ngIf="esperandoEliminar == true" class="d-flex justify-content-center align-items-center">
        <cargando/>
    </section>
</div>
<div *ngIf="errorEliminar == true" class="divAlerta">
    <div (click)="cerrarAlerta()"></div>
    <section>
        <img (click)="cerrarAlerta()" src="assets/imagenes/iconos/cancelar.png">
        <p class="text-center"><br>No se ha encontrado ningún usuario con ese id</p>
    </section>
</div>