.flexSuperior {
    margin-bottom: 20px;
}

.flechaVolver {
    height: 40px;
    width: auto;
    margin-right: 20px;
}

iframe {
    flex: 1;
    aspect-ratio: 16/9;
}

section {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.pulgar {
    height: 30px;
    width: auto;
}

h2 {
    margin-top: 20px;
}