<div *ngIf="cargando < 3" class="cargandoGeneral d-flex flex-column justify-content-center align-items-center">
    <cargando class="d-flex justify-content-center align-items-center"/>
    <p class="text-center mt-4">Estamos trabajando para ofrecerle toda la información que necesita</p> 
</div>
<div *ngIf="cargando == 3" class="pagina">
    <div class="d-flex my-3 mr-3 align-items-center">
        <a href="/biblioteca">
            <img class="iconoSuperior flechaVolver" src="assets/imagenes/iconos/flechaIzquierda.png">
        </a>
        <div class="container overflow-hidden flex-fill mx-3">
            <h1 class="text-truncate">{{receta.titulo}}</h1>
        </div>
        <img class="iconoSuperior favoritoSi" (click)="cambiarFavorito()" *ngIf="esFavorito==true" src="assets/imagenes/iconos/favoritoSi.png">
        <img class="iconoSuperior favoritoNo" (click)="cambiarFavorito()" *ngIf="esFavorito==false" src="assets/imagenes/iconos/favoritoNo.png">
    </div>
    <div class="d-flex flex-wrap ms-0">
        <section class="col-lg-6 col-md-4 col-12 seccionIframe">
            <!-- <p *ngIf="cargandoIframe">Estamos negociando con YouTube los secretos de la receta. Denos unos segundos más</p> -->
            <iframe
                [src]="sanitizer.bypassSecurityTrustResourceUrl(receta.url!)"
                allowfullscreen="true"
            ></iframe>
        </section>
        <section class="col-lg-3 col-md-4 col-6">
            <h3>Comentarios ({{receta.comentarios}})</h3>
            <div class="d-flex mb-2">
                <img *ngIf="isViewportLarge && receta.comentarios_positivos != 0" class="cara" src="assets/imagenes/iconos/caras/felizRellena.png">
                <img *ngIf="isViewportLarge && receta.comentarios_positivos == 0" class="cara" src="assets/imagenes/iconos/caras/felizVacia.png">
                <p class="numComentarios"><b>Comentarios positivos: </b>{{receta.comentarios_positivos}}</p>
            </div>
            <div class="d-flex mb-2">
                <img *ngIf="isViewportLarge && receta.comentarios_neutros != 0" class="cara" src="assets/imagenes/iconos/caras/neutraRellena.png">
                <img *ngIf="isViewportLarge && receta.comentarios_neutros == 0" class="cara" src="assets/imagenes/iconos/caras/neutraVacia.png">
                <p class="numComentarios"><b>Comentarios neutros: </b>{{receta.comentarios_neutros}}</p>
            </div>
            <div class="d-flex mb-2">
                <img *ngIf="isViewportLarge && receta.comentarios_negativos != 0" class="cara" src="assets/imagenes/iconos/caras/tristeRellena.png">
                <img *ngIf="isViewportLarge && receta.comentarios_negativos == 0" class="cara" src="assets/imagenes/iconos/caras/tristeVacia.png">
                <p class="numComentarios"><b>Comentarios negativos: </b>{{receta.comentarios_negativos}}</p>
            </div>
            <p><b>Sentimiento medio: </b>{{receta.sentimiento?.toFixed(2)}} %</p>
        </section>
        <section class="col-lg-3 col-md-4 col-6">
            <h3>Ingredientes</h3>
            <p class="mb-2"><b>Nutriscore: </b>{{letraNutriscore}}</p>
            <div class="d-flex flex-wrap align-items-center  mb-2">
                <p class="m-0"><b>Ingredientes ({{receta.ingredientes?.length}}):&nbsp;</b></p>
                <p class="m-0" *ngFor="let ingrediente of receta.ingredientes">{{ingrediente}},&nbsp;</p>
            </div>
            <p><b>Precio: </b>{{receta.precio}} €</p>
        </section>
    </div>
    <h2>Instrucciones</h2>
    <div>
        <p>{{receta.texto}}</p>
    </div>
    <h2>Comentarios</h2>
    <p *ngIf="!estaLogeado()" style="color: var(--colorPrincipal);">¡Inicie sesión para opinar sobre esta receta!</p>
    <form *ngIf="estaLogeado()" method="POST" action="/ruta/de/destino">
        <input [(ngModel)]="comentarioInput" type="text" name="nombre" placeholder="¿Qué opina sobre esta receta?" class="px-3 py-1">
        <button (click)="nuevoComentario(comentarioInput)" class="botonEnviar">Enviar</button>
    </form>
    <comentario
        *ngFor="let comentario of comentarios"
        autor="{{comentario.usuario[0].nombre + ' ' + comentario.usuario[0].apellidos}}"
        mensaje="{{comentario.contenido}}"
    />
</div>