.iconoSuperior {
    height: 40px;
    width: auto;
}

.flechaVolver:hover {
    animation: flechaVolverHover 0.2s;
}

@keyframes flechaVolverHover {
    50% {
        transform: translateX(-10px);
    }
}

.favoritoSi {
    animation: favoritoSi 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: 1;
}

@keyframes favoritoSi {
    50% {
        transform: scale(1.25);
    }
}

iframe {
    aspect-ratio: 16/9;
    position: relative;
    height: 100%;
    width: 100%;
}

section {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.cara {
    align-self: center;
    height: 20px;
    margin-right: 10px;
}

.numComentarios {
    margin: 0px;
    align-self: center;
}

h2 {
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    input {
        flex-grow: 1;
        margin-right: 10px;
    }
}