.registro{
        margin-left: min(30%,100px);
        margin-right: min(30%,100px);
    
       
}


header{
    color: var(--colorPrincipal);

}
form{
     color: var(--colorPrincipal);
     font-size: large;
     
}

input{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 100px;
    font-size: 0.875rem;

}

button{
    margin: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 500px;
    margin-right: 300px;
}