.registro {
    margin-left: min(30%,100px);
    margin-right: min(30%,100px);
    margin-bottom: 20px;
    color: var(--colorPrincipal);
}

h1 {
    text-align: center;
    margin-top: 20px;
}

a {
    color: var(--colorSecundario);
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    border-radius: 50px;
}

.enviar {
    padding: 5px 20px;
    background-color: var(--colorPrincipalClaro);
}