.registro{
        margin-left: min(30%,100px);
        margin-right: min(30%,100px);
}

header{
    color: var(--colorPrincipal);

}
form{
     color: var(--colorPrincipal);
     font-size: large;
     
}

input{
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 50px;
    font-size: 0.875rem;

}

button{
    margin: 50px;
    margin-left: min(45%, 500px);
    margin-right: min(30%,100px);

}

