<div class="pageLog">
    <h1 class="h1Log">Registro</h1>
    <form>
        <label for="name" class="labelLog">Nombre</label>
        <input [(ngModel)]="nombreInput" type="text" name="name" class="form-control inputLog" placeholder="Introduzca su nombre">
        <p *ngIf="respuesta == -2" class="infoErrorLog">El campo nombre está vacío</p>
        <p *ngIf="respuesta == -7" class="infoErrorLog">Su nombre no puede contener números</p>
        <label for="surname" class="labelLog">Apellidos</label>
        <input [(ngModel)]="apellidosInput" type="text" name="surname" class="form-control inputLog" placeholder="Introduzca sus apellidos">
        <p *ngIf="respuesta == -3" class="infoErrorLog">El campo apellidos está vacío</p>
        <p *ngIf="respuesta == -8" class="infoErrorLog">Su apellido no puede contener números</p>
        <label for="email" class="labelLog">Correo electrónico</label>
        <input [(ngModel)]="emailInput" type="email" name="email" class="form-control inputLog" placeholder="Introduzca su correo">
        <p *ngIf="respuesta == -4" class="infoErrorLog">El campo correo está vacío</p>
        <p *ngIf="respuesta == -9" class="infoErrorLog">Formato de correo incorrecto</p>
        <label for="password" class="labelLog">Contraseña</label>
        <input [(ngModel)]="passwordInput" type="password" name="password" class="form-control inputLog" placeholder="Introduzca su contraseña">
        <p *ngIf="respuesta == -5" class="infoErrorLog">El campo contraseña está vacío</p>
        <p *ngIf="respuesta == -10" class="infoErrorLog">La contraseña debe tener mínimo 6 caracteres</p>
        <p *ngIf="respuesta == -11" class="infoErrorLog">La contraseña debe tener máximo 16 caracteres</p>
        <p *ngIf="respuesta == -12" class="infoErrorLog">La contraseña debe contener al menos una letra mayúscula, una minúscula y un número</p>
        <label for="passwordConfirm" class="labelLog">Repita su contraseña</label>
        <input [(ngModel)]="repetirPasswordInput" type="password" name="password" class="form-control inputLog" placeholder="Introduzca su contraseña">
        <p *ngIf="respuesta == -6" class="infoErrorLog">El campo repetir contraseña está vacío</p>
        <p *ngIf="respuesta == -13" class="infoErrorLog">Las contraseñas no coinciden</p>
        <div *ngIf="respuesta != -1 && respuesta != 200" class="text-center">
            <input (click)="registrar(nombreInput, apellidosInput, emailInput, passwordInput, repetirPasswordInput)" class="botonEnviar mb-3 mt-4" type="submit" value="Enviar">
        </div>
    </form>
    <div class="d-flex flex-column align-items-center justify-content-center m-5">
        <cargando *ngIf="respuesta == -1"/>
        <div *ngIf="200 <= respuesta && respuesta < 300" class="infoError d-flex flex-column align-items-center">
            <p>¡Registrado correctamente!</p>
            <p *ngIf="200 <= respuesta && respuesta < 300">Diríjase a la pantalla de login para poder iniciar sesión con los datos que acaba de indicar</p>
            <a href="/login">
                <button class="botonEnviar">Ir a login</button>
            </a>
        </div>
        <p *ngIf="400 <= respuesta && respuesta < 500" class="textoError">No es posible acceder a los servidores en estos momentos. Por favor, inténtelo de nuevo más tarde</p>
        <p *ngIf="500 <= respuesta && respuesta < 600" class="textoError">Ya existe un usuario con ese correo</p>
        <p *ngIf="(0 < respuesta && respuesta < 200) || respuesta > 600">Ha ocurrido un error</p>
    </div>
</div>
