<div class="main">
    <div class="home">
        <div class="container">
            <div class="contenidoInferior">
                <img class="logo" src="assets/imagenes/logoBlancoHD.png">
                <h1>Decida qué quiere cocinar. Nosotros le enseñamos cómo</h1>
            </div>
            <div class="contenidoInferior">
                <a routerLink="/biblioteca">
                    <button>Acceder sin cuenta</button>
                </a>
                <a routerLink="/login">
                    <button>Log in</button>
                </a>
                <a routerLink="/registro">
                    <p>¿No tiene cuenta? <a href="google.com">Regístrese ahora</a></p>
                </a>
            </div>
        </div>
    </div>
</div>