<div class="main">
    <div class="home">
        <div class="container">
            <div class="contenidoInferior">
                <img class="logo" src="assets/imagenes/logoBlancoHD.png">
                <h1>Elija qué quiere cocinar. Nosotros le enseñamos cómo</h1>
            </div>
            <div class="contenidoInferior">
                <a routerLink="/biblioteca">
                    <button>Acceder sin cuenta</button>
                </a>
                <a routerLink="/login">
                    <button>Log in</button>
                </a>
                <p>¿No tiene cuenta? <a routerLink="/registro">Regístrese ahora</a></p>
            </div>
        </div>
    </div>
    <p>Desarrollado por:<br>
        <a href="https://github.com/pgonzalezs1999" target="blank" class="sinSubrayar">Pablo González</a> - 
        <a href="https://github.com/ignaciogg" target="blank" class="sinSubrayar">Ignacio Gil</a> - 
        <a href="https://github.com/mario-Uceda" target="blank" class="sinSubrayar">Mario Uceda</a> - 
        <a href="https://github.com/sfms97" target="blank" class="sinSubrayar">Samuel Méndez</a>
    </p>
</div>