.home {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10vh;
}

button {

}