:root {
    --luminosidad: 45%;
    --saturacion: 60%;

    --primaryColor: 225; // Tonalidad del 0 al 255
    --secondaryColor: 20; // Tonalidad del 0 al 255

    --colorPrincipal: hsl(var(--primaryColor), var(--saturacion), var(--luminosidad));
    --colorPrincipalMedioClaro: hsl(var(--primaryColor), var(--saturacion), calc(var(--luminosidad) + 30%));
    --colorPrincipalClaro: hsl(var(--primaryColor), var(--saturacion), calc(var(--luminosidad) + 45%));

    --colorSecundario: hsl(var(--secondaryColor), var(--saturacion), var(--luminosidad));
    --colorSecundarioClaro: hsl(var(--secondaryColor), var(--saturacion), calc(var(--luminosidad) + 45%));
}

.pagina {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10px;
}