
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$readyRecipes-front-primary: mat.define-palette(mat.$indigo-palette);
$readyRecipes-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$readyRecipes-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$readyRecipes-front-theme: mat.define-light-theme((
  color: (
    primary: $readyRecipes-front-primary,
    accent: $readyRecipes-front-accent,
    warn: $readyRecipes-front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($readyRecipes-front-theme);

@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
    --colorPrincipal-r: 0;
    --colorPrincipal-g: 150;
    --colorPrincipal-b: 150;

    --colorPrincipal: rgb(
        var(--colorPrincipal-r),
        var(--colorPrincipal-g),
        var(--colorPrincipal-b)
    );
    --colorPrincipalMedioClaro: rgba(
        var(--colorPrincipal-r),
        var(--colorPrincipal-g),
        var(--colorPrincipal-b),
        0.5
    );
    --colorPrincipalClaro: rgba(
        var(--colorPrincipal-r),
        var(--colorPrincipal-g),
        var(--colorPrincipal-b),
        0.15
    );
    --colorPrincipalDegradado: rgb(
        var(--colorPrincipal-r),
        calc(var(--colorPrincipal-g) + 30),
        var(--colorPrincipal-b)
    );
    --colorPrincipalSobreNegro: rgb(
        calc(var(--colorPrincipal-r) + 150),
        calc(var(--colorPrincipal-g) + 105),
        calc(var(--colorPrincipal-b) + 105)
    );

    --colorSecundario-r: 190;
    --colorSecundario-g: 100;
    --colorSecundario-b: 20;

    --colorSecundario: rgb(
        var(--colorSecundario-r),
        var(--colorSecundario-g),
        var(--colorSecundario-b)
    );
    --colorSecundarioClaro: rgba(
        var(--colorSecundario-r),
        var(--colorSecundario-g),
        var(--colorSecundario-b),
        0.15
    );
}

/** {
    outline: red dashed 1px; // Comentar para entregar
}*/

.pagina {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 20px;
}

.botonEnviar {
    padding: 5px 20px;
    background-color: var(--colorPrincipalClaro);
    border-radius: 8px;
}

////////////////////// PANTALLAS DE GESTION DE CUENTA //////////////////////

.pageLog {
    margin: 20px 10%;
    color: var(--colorPrincipal);
}

.h1Log {
    text-align: center;
    margin-top: 20px;
}

.inputLog {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: 2px solid var(--colorPrincipalClaro);
    border-radius: 50px;
}

.labelLog {
    margin-top: 10px;
}

.aLog {
    color: var(--colorSecundario);
    cursor: pointer;
}

.textoError {
    margin: 100px 0px;
    color: var(--colorSecundario);
    font-weight: bold;
}

.infoErrorLog {
    color: var(--colorSecundario);
    margin-top: -10px;
}

.cargandoGeneral {
    background-color: #F7F7F7;
    padding: 30px;
    margin: auto;
    margin-top: 25vh;
    width: 75vw;
    border: 1px solid #DDD;
    border-radius: 20px;
    p {
        color: var(--colorPrincipal);
        margin: 0px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
