<div class="contenedor">
    <div>
        <header *ngIf="router.url !== '/'"> 
            <div>
                <a routerLink="/biblioteca">
                    <img class="logo" src="assets/imagenes/logoBlanco.png">
                </a>
            </div>
            <p *ngIf="estaLogeado() && router.url == '/biblioteca'" class="d-flex m-0 text-white align-items-center">¡Hola de nuevo, {{getNombre()}}!</p>
            <div *ngIf="!router.url.includes('registr') && !router.url.includes('recuperar') && !router.url.includes('login')" class="d-flex align-items-center">
                <a *ngIf="!estaLogeado()" class="login d-flex align-items-center" routerLink="/login" routerLinkActive="oculto">
                    <img src="assets/imagenes/iconos/perfil.png">
                    <p class="m-0">Login</p>
                </a>
                <a *ngIf="estaLogeado()"class="login d-flex align-items-center" (click)="logout()" routerLink="/" routerLinkActive="oculto">
                    <img src="assets/imagenes/iconos/perfil.png">
                    <p class="m-0">Logout {{getEmail()}}</p>
                </a>
            </div>
        </header>
        <router-outlet/>
    </div>
    <footer *ngIf="router.url !== '/'">
        <p>ReadyRecipes - 2023</p>
    </footer>
</div>