<div class="contenedor">
    <div>
        <header *ngIf="router.url !== '/'">
            <div class="d-flex align-items-center justify-content-center">
                <a routerLink="/biblioteca">
                    <img class="logo" src="assets/imagenes/logoBlanco.png">
                </a>
                <p *ngIf="usuario.nombre != ''" class="m-0 p-0 text-white">¡Hola de nuevo, {{usuario.nombre}}!</p>
            </div>
            <div *ngIf="!router.url.includes('registr') && !router.url.includes('recuperar') && !router.url.includes('login')" class="d-flex align-items-center">
                <a *ngIf="usuario.nombre == ''" class="login d-flex align-items-center" routerLink="/login" routerLinkActive="oculto">
                    <img src="assets/imagenes/iconos/perfil.png">
                    <p *ngIf="usuario.email == ''" class="m-0">Login</p>
                    <p *ngIf="usuario.email != ''" class="m-0">Logout {{usuario.email}}</p>
                </a>
                <a *ngIf="usuario.email != ''" class="login d-flex align-items-center" (click)="logout()" routerLink="/" routerLinkActive="oculto">
                    <img src="assets/imagenes/iconos/perfil.png">
                    <p *ngIf="usuario.email == ''" class="m-0">Login</p>
                    <p *ngIf="usuario.email != ''" class="m-0">Logout {{usuario.email}}</p>
                </a>
            </div>
        </header>
        <router-outlet/>
    </div>
    <footer *ngIf="router.url !== '/'">
        <p>ReadyRecipes - 2023</p>
    </footer>
</div>