.contenedor {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    background-image: linear-gradient(
        90deg,
        var(--colorPrincipal), 
        var(--colorPrincipalDegradado),
    );
    justify-content: space-between;
    padding: 10px;
    .login {
        background-color: var(--colorSecundario);
        text-decoration: none;
        color: white;
        border: 1px solid white;
        border-radius: 100px;
        padding: 10px 20px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
}

.logo {
    width: 100px;
}

.contenedorDePagina {
    padding: 0px 20px;
}

footer {
    background-color: var(--colorSecundario);
    color: white;
    padding: 10px;
    text-align: center;
}

.oculto {
    display: none;
}

.examen {
    color: white;
}