header {
    display: flex;
    background-color: var(--colorPrincipal);
    justify-content: space-between;
    padding: 10px;
    button {
        background-color: var(--colorSecundario);
        color: white;
        border: 1px solid white;
        border-radius: 100px;
        padding-left: 20px;
        padding-right: 20px;
        img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }
    }
}

.logo {
    width: 100px;
}

.contenido {
    padding: 10px 20px;
}

footer {
    background-color: var(--colorSecundario);
    color: white;
    padding: 10px;
    text-align: center;
}