<p class="text-center">Elija el tipo de plato que desea encontrar</p>
<div class="row justify-content-center">
    <categoria class="col-lg-2 col-md-4 col-sm-4 col-6" nombre="VERDURAS" imagen="assets/imagenes/verduras.png"/>
    <categoria class="col-lg-2 col-md-4 col-sm-4 col-6" nombre="CARNES" imagen="assets/imagenes/carnes.png"/>
    <categoria class="col-lg-2 col-md-4 col-sm-4 col-6" nombre="PESCADOS" imagen="assets/imagenes/pescados.png"/>
    <categoria class="col-lg-2 col-md-4 col-sm-4 col-6" nombre="PASTA" imagen="assets/imagenes/pasta.png"/>
    <categoria class="col-lg-2 col-md-4 col-sm-4 col-6" nombre="APERITIVOS" imagen="assets/imagenes/aperitivos.png"/>
</div>
<p class="text-center m-0 p-0">O filtre según otros parámetros</p>
<div class="filtros" style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#cat">Categoría</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#nut">Nutriscore</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#pre">Precio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#sen">Sentimientos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#fav">Favoritos</a>
        </li>
    </ul>
</div>
<div class="buscador resultadoBuscador">
    <hr>
    <div class="tab-content">
        <div class="tab-pane container active" id="cat">
            <div class="d-flex">
                <aplicadorFiltro titulo="Verduras"/>
                <aplicadorFiltro titulo="Carnes"/>
                <aplicadorFiltro titulo="Pescados"/>
                <aplicadorFiltro titulo="Pasta"/>
                <aplicadorFiltro titulo="Aperitivos"/>
            </div>
        </div>
        <div class="tab-pane container fade" id="nut">Buscando por nutriscore!</div>
        <div class="tab-pane container fade" id="pre">Buscando por precio!</div>
        <div class="tab-pane container active" id="sen">Buscando por sentimiento!</div>
        <div class="tab-pane container fade" id="fav">Buscando en mis favoritos!</div>
    </div>
    <hr>
    <recetaEncontrada *ngFor="let res of resultados" nombre="{{res.nombre}}" ruta="{{res.ruta}}"></recetaEncontrada>
</div>