.botonAdmin {
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    text-decoration: none;
    border: 1px solid #999;
    border-radius: 1000px;
    background-color: white;
    padding: 15px;
    p {
        transition: all 0.25s ease-in-out;
        width: 0px;
        height: 0px;
        padding-left: 0px;
        overflow: hidden;
        text-overflow: hidden;
        max-height: 30px;
        color: black;
    }
    img {
        transition: all 0.4s ease-in-out;
        width: 35px;
    }
    &:hover {
        p {
            margin-top: 6px;
            margin-bottom: 5px;
            width: 250px;
            height: 20px;
            padding-left: 10px;
            color: black;
        }
        img {
            transform: rotate(360deg);
        }
    }
}

h1 {
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtro {
    /*border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;*/
    background-color: var(--colorSecundarioClaro);
    color: black;
    margin-right: 0.25vw;
}

.nav-link.active {
    margin-bottom: -50px;
    background-color: var(--colorPrincipalClaro);
    color: black;
}

.inlineBlock {
    display: inline-block;
}

.selectorDerecha {
    align-self: flex-end;
}

.resultadoBuscador {
    background-color: #F5F5F5;
    // border: 1px solid #AAA;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
}

.selectorElegido {
    background-color: pink;
}

.noRecetasEncontradas {
    width: 150px;
    padding: 10px 0px;
}

.inputBuscador {
    margin-bottom: 20px;
    margin-top: 10px;
}

hr {
    margin-right: 40px;
}

.buscadorIngredientes{

    .input{
        padding: 5px 8px;
        font-size: 16px;
        border: 1px solid #c4c4c4;
       border-radius: 5px;
    }

    ng-select{
        width: 300px;
    }
    
}