<div class="pagina">
    <a *ngIf="esAdministrador == true" class="botonAdmin" routerLink="/estadisticas" title="Ir a funciones de administrador">
        <img src="assets/imagenes/iconos/stats.png">
        <p>Ir a funciones de administrador</p>
    </a>
    <h1 class="text-center">Elija el tipo de plato que desea encontrar</h1>
    <div class="row justify-content-center">
        <categoria
            class="col-lg-2 col-md-2 col-sm-4 col-4"
            nombre="VERDURAS"
            imagen="assets/imagenes/verduras.png"
            (click)="buscarTipo('Verdura')" 
        />
        <categoria
            class="col-lg-2 col-md-2 col-sm-4 col-4"
            nombre="CARNES"
            imagen="assets/imagenes/carnes.png"
            (click)="buscarTipo('Carne')"
        />
        <categoria
            class="col-lg-2 col-md-2 col-sm-4 col-4"
            nombre="PESCADOS"
            imagen="assets/imagenes/pescados.png"
            (click)="buscarTipo('Pescado')"
        />
        <categoria
            class="col-lg-2 col-md-2 col-sm-4 col-4"
            nombre="PASTA"
            imagen="assets/imagenes/pasta.png"
            (click)="buscarTipo('Pasta')"
        />
        <categoria
            class="col-lg-2 col-md-2 col-sm-4 col-4"
            nombre="APERITIVOS"
            imagen="assets/imagenes/aperitivos.png"
            (click)="buscarTipo('Aperitivos')"
        />
    </div> 
    <div class="row justify-content-center">
        <div class="filtrosContainer">
            <div>
                <div>
                    <p>Nutriscore: </p>
                    <div class="d-flex flex-row">
                        <div *ngFor="let nutri of ['A', 'B', 'C', 'D']">
                            <aplicadorFiltro
                                titulo={{nutri}}
                                [activo]="buscandoNutriscore == nutri"
                                (click)="elegirNutriscore(nutri)"
                            />
                        </div>
                    </div>
                </div>
                <div>
                    <p class="m-0 p-0 mt-3">Precio (en €): </p>
                    <priceRangeSelector/>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="buscadorIngredientes">
                    <p class="inputBuscador m-0 p-0">Busque ingredientes</p>
                    <ng-select [(ngModel)]="selectedIngredient" [multiple]="true" (ngModelChange)="filtrarIngredientes($event)">
                        <ng-container *ngFor="let filtro of filtros">
                            <ng-option *ngIf="filtro.categoria=='Ingredientes' && !filtro.activo && filtro.visible" [value]="filtro">{{filtro.nombre}}</ng-option>
                        </ng-container>
                    </ng-select>
                    <div *ngIf="estaLogeado()" class="mt-4">
                        <aplicadorFiltro 
                            titulo="Mostrar sólo mis favoritos"
                            [activo]=buscandoEnFavoritos
                            (click)="toggleFavoritos()"
                        />
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="respuestaBuscador == -1" class="col-lg-8 col-md-10 col-sm-12 col-12 d-flex flex-column justify-content-center align-items-center">
            <cargando/>
            <p class="mt-3">Estamos preguntando a nuestros chefs por sus mejores recetas. Denos un segundo...</p>
        </div>
        <h1 *ngIf="resultados.length > 1" class="col-lg-8 col-md-10 col-sm-12 col-12">Le recomendamos las siguientes {{resultados.length}} recetas:</h1>
        <h1 *ngIf="resultados.length == 1" class="col-lg-8 col-md-10 col-sm-12 col-12">Le recomendamos la siguiente receta:</h1>
        <div *ngIf="resultados.length >= 1" class="col-lg-8 col-md-10 col-sm-11 col-11 d-flex flex-row flex-wrap align-items-center justify-content-center">
            <ng-container *ngFor="let resultado of resultados">
                <recetaEncontrada
                *ngIf="resultado.id >= 0"
                [receta]="resultado"
                class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3"
            />
            </ng-container>
        </div>
        <div class="d-flex justify-content-center">
            <img *ngIf="resultados.length < 1 && respuestaBuscador != -1" src="assets/imagenes/noRecetasEncontradas.png" class="noRecetasEncontradas">
        </div>
        <p *ngIf="resultados.length < 1 && respuestaBuscador != -1" class="col-lg-8 col-md-10 col-sm-12 col-12 text-center">No se han encontrado recetas que cumplan con los filtros indicados.
            <br>Le recomendamos que flexibilice los parámetros de búsqueda y lo intente de nuevo.
        </p>
    </div>
</div>