h1 {
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.filtro {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: var(--colorPrincipalClaro);
    color: black;
    margin-right: 0.25vw;
}

.nav-link.active {
    margin-bottom: -50px;
    background-color: var(--colorSecundario);
    color: white;
}

.inlineBlock {
    display: inline-block;
}

.selectorDerecha {
    align-self: flex-end;
}

.resultadoBuscador {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

.selectorElegido {
    background-color: pink;
}

.noRecetasEncontradas {
    width: 150px;
    padding: 10px 0px;
}

.buscadorIngredientes {
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.inputBuscador {
    margin-bottom: 20px;
    margin-top: 10px;
}