button {
    margin: 0px 5px;
    border-radius: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid;
    background-color: orange;
    p {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
}

.mas {
    margin-left: 10px;
}