button {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 1000px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.5px solid #BBB;
    background-color: white;
    
    &.activado{
        background-color: #C2185B;
        color: white;
        font-weight: bold;
    }
    p {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
    }
}

button::hover{
    background-color: var(--colorPrincipal);
}

.mas {
    margin-left: 10px;
}