<div class="ruta">
    <a [routerLink]="['/receta', receta.id]">
        <p>{{receta.titulo}}</p>
        <div class="d-flex justify-content-start mt-4 justify-content-center">
            <ng-container [ngSwitch]="receta.categoria">
                <img *ngSwitchCase="'Aperitivos'" src="/assets/imagenes/iconos/aperitivo.png" class="iconoCategoria"/>
                <img *ngSwitchCase="'Pescado'" src="/assets/imagenes/iconos/pescado.png" class="iconoCategoria"/>
                <img *ngSwitchCase="'Carne'" src="/assets/imagenes/iconos/carne.png" class="iconoCategoria"/>
                <img *ngSwitchCase="'Pasta'" src="/assets/imagenes/iconos/pasta.png" class="iconoCategoria"/>
                <img *ngSwitchCase="'Verdura'" src="/assets/imagenes/iconos/verdura.png" class="iconoCategoria"/>
            </ng-container>
            <ng-container [ngSwitch]="redondearNutriscore(receta.nutriscore!)">
                <img *ngSwitchCase=1 src="/assets/imagenes/nutriscoreE.png" class="iconoNutriscore"/>
                <img *ngSwitchCase=2 src="/assets/imagenes/nutriscoreD.png" class="iconoNutriscore"/>
                <img *ngSwitchCase=3 src="/assets/imagenes/nutriscoreC.png" class="iconoNutriscore"/>
                <img *ngSwitchCase=4 src="/assets/imagenes/nutriscoreB.png" class="iconoNutriscore"/>
                <img *ngSwitchCase=5 src="/assets/imagenes/nutriscoreA.png" class="iconoNutriscore"/>
            </ng-container>
            <ng-container [ngSwitch]="aproximarPrecio(receta.precio!)">
                <img *ngSwitchCase=2 src="/assets/imagenes/euro2.png" class="iconoCategoria"/>
                <img *ngSwitchCase=5 src="/assets/imagenes/euro5.png" class="iconoCategoria"/>
                <img *ngSwitchCase=10 src="/assets/imagenes/euro10.png" class="iconoCategoria"/>
                <img *ngSwitchCase=15 src="/assets/imagenes/euro15.png" class="iconoCategoria"/>
            </ng-container>
        </div>
    </a>
</div>