.ruta {
    border: 1px solid #999;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    p {
        margin: 0px;
        padding: 0px;
    }
}

.iconoCategoria {
    height: 30px;
    width: 30px;
}

.iconoNutriscore {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}