<div class="pageLog">
    <h1 class="h1Log">Recuperar contraseña</h1>
    <p class="text-center">Le enviaremos un correo con las instrucciones para establecer una nueva contraseña</p>
    <form>
        <label for="email" class="labelLog">Correo electrónico</label>
        <input type="email" name="email" class="form-control inputLog" placeholder="Introduzca su correo">
        <div class="text-center mb-3 mt-4">
            <input class="botonEnviar" type="submit" value="Enviar">
        </div>
    </form>
</div>