h2{
    color: var(--colorPrincipal);
    margin-left: min(30%,50px);
    margin-right: min(30%,50px);
}

form{
    color: var(--colorPrincipal);
    font-size: large;
    
}

.email{
    margin: 40px;
    


}

button{
    margin: 20px;
    margin-left: min(30%, 100px);
    margin-right: min(30%,100px);

}
